@import url(http://fonts.googleapis.com/css?family=Lobster);


.app#initialize {
	background: rgb(169,3,41); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

.app#initialize p#logo {
	font-family: Lobster;
	text-align: center;
	line-height: 1em;
	font-size: 6em;
	color: #e9e9e9;
	text-shadow: rgba(0, 0, 0, .2) 6px 6px 6px;
     
    /*text stroke*/
    -webkit-text-stroke: 1px rgba(100, 100, 100, 0);
}

.app#initialize .bg-info {
	margin: 2em 0;
	color: #e9e9e9;
	padding: .5em;
	background: none;
	border: 1px solid #e9e9e9;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.app#initialize .form-group {
	padding-top: 0;
}

.app#initialize .form-group.has-feedback .form-control-feedback {
	top: 0;
}

.app#initialize .form-group.has-feedback input.ng-invalid {
	border-color: #fff;
}

.app#initialize .form-group.has-feedback i {
	color: #a94442;
}

.app#location #map-canvas {
	height: 100%;
    margin: 0px;
    padding: 0px;
}

.app#location .controls {
	margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.app#location #pac-input {
	background-color: #fff;
	padding: 0 11px 0 13px;
	width: 400px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
    text-overflow: ellipsis;
}

.app#location #pac-input:focus {
	border-color: #4d90fe;
	margin-left: -1px;
	padding-left: 14px;  /* Regular padding-left + 1. */
	width: 401px;
}

.app#location .pac-container {
	font-family: Roboto;
}

.app#location #type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

.app#location #type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}
	  
.app#location #location-add {
	position: absolute;
	right: 10px;
	bottom: 40px;
	opacity: 0.9;
	display: none;
}

/* mainly from demo.css of mobile-angular-ui demo application*/
#shuttle {
  font-size: 100px;
  display: block;
  text-align: center;
}

h1 {
  padding: 0;
  margin: 10px 0;
}

.chat-user-avatar {
  font-size: 40px;
  background: #ccc;
  padding: 5px 10px;
}

.feature-icon {
  font-size: 44px;
  padding: 0;
  line-height: 64px;
  width: 64px;
  text-align: center;
  opacity: .8;
}

.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  background: #fff;
  position: relative;
}

.loading-spinner {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.carousel-example-content {
  position: absolute;
  font-size: 50px;
  line-height: 50px;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -50px;
}


.carousel .item {
  color: #444;
  background: #f4f4f4;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}


.carousel {
  padding: 20px;
  overflow: visible;
}

.carousel-inner {
  position: relative;
  overflow: visible;

}

.carousel-inner>.item {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.carousel-inner>.item:first-child {
  z-index: 1998; 
}

.carousel-inner>.item.active {
  z-index: 2000;
}

.carousel-inner>.item.active + .item {
  z-index: 1999;
}
