@import url(http://fonts.googleapis.com/css?family=Lobster);

.hidden-button{
	display: none;
}

.button-grey{
	color:grey;
}

.button-red{
	/*color:red;*/
	color: #E2001A;
}

.button-green{
	color:green;
}

.div-has-navbar-bottom{
	margin-bottom:40px;
}

.div-has-navbar-bottom-large{
	margin-bottom:70px;
}


.app#initialize {
	background: rgb(169,3,41); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

.app#initialize p#logo {
	font-family: Lobster;
	text-align: center;
	line-height: 1em;
	font-size: 6em;
	color: #e9e9e9;
	text-shadow: rgba(0, 0, 0, .2) 6px 6px 6px;
  -webkit-text-stroke: 1px rgba(100, 100, 100, 0);
}

.app#initialize .bg-info {
	margin: 2em 0;
	color: #e9e9e9;
	padding: .5em;
	background: none;
	border: 1px solid #e9e9e9;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.app#initialize .form-group {
	padding-top: 0;
}

.app#initialize .form-group.has-feedback .form-control-feedback {
	top: 0;
}

.app#initialize .form-group.has-feedback input.ng-invalid {
	border-color: #fff;
}

.app#initialize .form-group.has-feedback i {
	color: #a94442;
}

.app #location #map-canvas {
	height: 100%;
  margin: 0px;
  padding: 0px;
}

.app #location .controls {
	margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.app #location #pac-input {
	background-color: #fff;
	padding: 0 38px 0 13px;
	width: 100%;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
  text-overflow: ellipsis;
}

.app #location #pac-input:focus {
	border-color: #4d90fe;
	margin-left: -1px;
	padding-left: 14px;  /* Regular padding-left + 1. */
	/*width: 401px;*/
}

.app #location .pac-container {
	font-family: Roboto;
}

.app #location #type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

.app #location #type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}

.app #location #map-canvas img {
	max-width: none;
}

.app #location .cancel {
	width: 19.5px; 
	height: 19.5px; 
	overflow: hidden; 
	position: absolute; 
	opacity: 0.7; 
	right: 12px; 
	top: 22px; 
	z-index: 10000;
}

.app #location .cancel img {
	position: absolute; 
	left: -3px; 
	top: -504px; 
	width: 88.5px; 
	height: 738px; 
	-webkit-user-select: none; 
	border: 0px; 
	padding: 0px; 
	margin: 0px;
	max-width: none;
}

.app #location .cancel + img {
	width: 35.5px; 
	height: 35.5px; 
	-webkit-user-select: none; 
	border: 0px; 
	padding: 0px; 
	margin: 0px; 
	position: absolute; 
	right: 4px; 
	top: 14px; 
	z-index: 10001; 
	cursor: pointer;
}

/*
	QuickLunch Screen

	*/
	
.app #quicklunch {
  background-image: url("../res/iStock_000020695852Medium.jpg");
  background-size: cover;
  background-position-x: -280px;
}

.app #quicklunch .panel {
	background: rgba(255,255,255,0.6);
}

.app #quicklunch .panel-body {
	background: none;
}

.app #quicklunch .panel-title {
	color: black;
}

.app #quicklunch #timeslots ul#slotlist {
	border: none !important;
}

.app #quicklunch #timeslots ul#slotlist form {
	background: none !important;
}

.app #quicklunch .panel-heading {
	border: none !important;
}

.app #findmatches {
	/*bottom: 20px;*/
}

.app #findmatches:hover {
	background: #E2001A;
}

.app #findmatches:hover button {
	color: white;
}

.app #quicklunch .round-list li {
	border-radius: 10px;
	margin-top: 5px;
	background-color: rgba(255,255,255,0.7)
}

.app #quicklunch #form-control-date {
	background: none !important;
	border: 1px solid white !important;
	color: black !important;
}
	
.app #quicklunch #timeslots ul#slotlist {
	overflow: hidden;
	margin-top: 1em;
	list-style-type: none;
	padding: 0;
	border: 1px solid grey;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.app #quicklunch #timeslots ul#slotlist form {
	padding: 1em 1em;
	min-height: 3em;
	border-bottom: 1px solid grey;


filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2dfed', endColorstr='#799bc8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.app #quicklunch #timeslots ul#slotlist>form .form-control-wrapper {
	float: left;
}

.app #quicklunch #timeslots ul#slotlist>form .form-control-wrapper.date {
	width: 100%;
}

.app #quicklunch #timeslots ul#slotlist>form .form-control-wrapper.startTime,
.app #quicklunch #timeslots ul#slotlist>form .form-control-wrapper.endTime {
	margin-top:10px;
	width: 40%;
}

#buttonPicker{
	margin-top:10px;
	width:80%;
	background: #f7f7f7;
	border-color: #cccccc;
	color: #E2001A;
}

.app #quicklunch #timeslots ul#slotlist>li {
	padding: 1em 1em;
	background: #fbfbfb;

}

.app #quicklunch #timeslots ul#slotlist>li:not(:last-child) {
	
	border-bottom: 1px solid #e9e9e9;
}

.app #quicklunch #timeslots ul#slotlist>button {
	background: rgb(205,235,142); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(205,235,142,1) 0%, rgba(165,201,86,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(205,235,142,1)), color-stop(100%,rgba(165,201,86,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.app #quicklunch #location-select img {
	width: 15px;
  position: relative;
  bottom: 30px;
  left: 5px;
}

.app #quicklunch #location-select input {
	padding-left: 30px;
}

/*
	Response Screen

	*/

.app#response .subject {
	border-bottom: 0;
	border-top: 1px solid #DDD;
}

.app#response .subject:first-child {
	padding-top: 0;
	border-top: 0;
} 

/* mainly from demo.css of mobile-angular-ui demo application*/
#shuttle {
  font-size: 100px;
  display: block;
  text-align: center;
}

h1 {
  padding: 0;
  margin: 10px 0;
}

.chat-user-avatar {
  font-size: 40px;
  background: #ccc;
  padding: 5px 10px;
}

.feature-icon {
  font-size: 44px;
  padding: 0;
  line-height: 64px;
  width: 64px;
  text-align: center;
  opacity: .8;
}

.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  background: #fff;
  position: relative;
}

.loading-spinner {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.carousel-example-content {
  position: absolute;
  font-size: 50px;
  line-height: 50px;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -50px;
}


.carousel .item {
  color: #444;
  background: #f4f4f4;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}


.carousel {
  padding: 20px;
  overflow: visible;
}

.carousel-inner {
  position: relative;
  overflow: visible;

}

.carousel-inner>.item {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.carousel-inner>.item:first-child {
  z-index: 1998; 
}

.carousel-inner>.item.active {
  z-index: 2000;
}

.carousel-inner>.item.active + .item {
  z-index: 1999;
}