<div class="scrollable">
<div class="scrollable-content">
  <div bs-panel title="Profile">
	<div class="col-xs-10">
		<form name="personalNumberForm">
			<label class="sr-only" for="personalNumber">Personal number</label>
			<input type="text" class="form-control" id="personalNumber" ng-model="newPersonal" required placeholder="Enter your number">
		</form>
		
		<div class="btn btn-default" ng-click="config.setIdentity(newPersonal)">Save personal number</div><br>
		<h3><small><span>{{config.model.identity.phone}}</span></small></h3>
	</div>
  </div>

  
    <!-- Identity -->
  <div bs-panel title="Identity">
    <!-- <input type="text" name="identity" ng-model="mampfConfig.config.identity" class="justified"> -->
    <h3><small>Phone: {{config.model.identity.phone}}</small></h3>
    <h3><small>MD5: {{config.model.identity.md5}}</small></h3>
  </div>

  <!-- Invitees -->
  <div bs-panel title="Contacts">
    <!--
    <input type="text" name="newInvitee" ng-model="newInvitee" class="justified">
    <div class="btn btn-default justified" ng-click="mampfConfig.addInvitee(newInvitee)">Add Invitee</div>
    -->
	<div  class="col-xs-12">
		<h3><small>Add new Contact</small></h3>	
		<form name="newContact">
			<label class="sr-only" for="newContactName">Name</label>
			<input type="text" class="form-control"  id="newContactName" ng-model="newContactName" placeholder="Name" required>
			<label class="sr-only" for="newContactPhone">Phonenumber</label>
			<input type="text" class="form-control"  id="newContactPhone" ng-model="newContactPhone" placeholder="Phonenumber" required>
		</form>
		
		<div class="btn btn-default btn-xs col-xs1" ng-click="config.addContact(newContactName, newContactPhone)">Add contact: {{newContactName}} / {{newContactPhone}}</div>
	</div>
	<div class="col-xs-12">
		<h3><small>My Contacts</small></h3>
		<li ng-repeat="contact in config.model.contacts">
		  <h3><small>{{contact.name}} / {{contact.phone}} 
		  <div class="btn btn-default btn-xs" ng-click="config.remContact(contact)">delete!</div></small></h3>
		</li>
	</div>
  </div>
</div>
</div>
