<div class="scrollable">
<div class="scrollable-content">

  <div bs-panel title="Profile">
	<div class="col-xs-12">
		<form name="personalNumberForm" class="form-horizontal" role="form">
			<div class="form-group col-xs-12">
				<label class="sr-only" for="personalNumber">Personal number</label>
				<input type="tel" class="form-control" id="personalNumber" ng-model="newPersonal" required placeholder="Enter your number">
			</div>
			<div class="form-group col-xs-10">
				<div class="btn btn-default" ng-click="config.setIdentity(newPersonal)">Save personal number</div>
			</div>
			<div class="form-group col-xs-10">
				<h3><small><span>{{config.model.identity.phone}}</span></small></h3>
			</div>
		</form>
	</div>
  </div>

  <!-- Invitees -->
  <div bs-panel title="Contacts">
    <!--
    <input type="text" name="newInvitee" ng-model="newInvitee" class="justified">
    <div class="btn btn-default justified" ng-click="mampfConfig.addInvitee(newInvitee)">Add Invitee</div>
    -->
	<div  class="col-xs-12">
		<h3><small>Add new Contact</small></h3>	
		<form name="newContact">
			<div class="form-group">
				<label class="sr-only" for="newContactName">Name</label>
				<input type="text" class="form-control"  id="newContactName" ng-model="newContactName" placeholder="Name" required>
			</div>
			<div class="form-group">
				<label class="sr-only" for="newContactPhone">Phonenumber</label>
				<input type="tel" class="form-control"  id="newContactPhone" ng-model="newContactPhone" placeholder="Phonenumber" required>
			</div>
			<div class="form-group">
				<div class="btn btn-default btn-xs" ng-click="config.addContact(newContactName, newContactPhone)">Add contact: {{newContactName}} / {{newContactPhone}}</div>
			</div>
		</form>
	</div>
	<div class="col-xs-12">
		<h3><small>My Contacts</small></h3>
		<li ng-repeat="contact in config.model.contacts">
		  <h3><small>{{contact.name}} / {{contact.phone}} 
		  <div class="btn btn-default btn-xs" ng-click="config.remContact(contact)">Delete!</div></small></h3>
		  <div class="btn btn-default btn-xs" ng-click="config.addInvitee(contact.phone)">Add invitee</div></small></h3>
		 <!--  		
		<small>
		<switch
        bs-form-control
        ng-change="toggleLunchWithContact(contact)"
        ng-model="contact.lunch"
        label="Lunch?"
        label-class="col-xs-2"
        class="col-xs-1" 
        >
        </switch></small>
		-->
		</li>
	</div>
  </div>
</div>
</div>
