<div content-for="title">
    <span>Quick Lunch</span>
</div>

<div content-for="rightNav">
	<a class="btn btn-navbar" ng-click="findMatches(0)">
	<i class="fa fa-check fa-3"></i>  SEND</a>
</div>

<div overlay="selectDate">  
  <div style="display:inline-block; min-height:290px;">
    <h4 class="overlay-title">Select date</h4>    
    <datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm" style="background:transparent;border:0px;border-raduis:0px !important;"></datepicker>
    <button type="button" ng-click="toggle('selectDate')"  class="btn btn-sm btn-danger pull-right ng-binding">DONE</button>
  </div>
</div>

<div class="scrollable" id="quicklunch">
<div class="scrollable-content">

<div style="margin-top:30px">
  <div class="panel">
  <div class="panel-heading">
    <h2 class="panel-title no-margin-bottom">
      <span ng-click="showTimeList()">
			  <i ng-show="showDates" class="fa fa-chevron-circle-down button-grey"></i>
        <i ng-show="!showDates" class="fa fa-chevron-circle-right button-grey"></i>
				When? 
      </span>
      <i class="fa fa-calendar pull-right" style="padding-right:10px; font-size:16px"></i>
      <div id="dateDisplay" class="pull-right no-margin-bottom no-padding-top" style="margin-top:-6px;font-size:14px">
        <div class ="btn button-grey" ng-show="config.model.requests[0].timeslots.length === 0" ng-click="toggle('selectDate')">
          {{dt | date:'dd.MM.yyyy' }}
        </div>
        <div class ="btn button-grey" ng-show="config.model.requests[0].timeslots.length > 0" onclick="alertify.alert('You already picked a Timeslot for this date');">
          {{dt | date:'dd.MM.yyyy' }}
        </div>
      </div>
    </h2>
  </div>
 
	<div class="panel-body" ng-show="showDates">
			<form name="newTimeslotTime" style="margin-bottom: 10px;">
				<div>
				<div class="form-control-wrapper startTime pull-left">
					<label for="startTime" class="sr-only">from</label>
					<!-- <input type="text" id="form-control-startTime" class="form-control" ng-model="startTime" name="startTime">  --> 
          <div class="input-group clockpicker">
              <input id="startTime" type="text" onfocus="this.blur()" class="form-control" >
          </div>
				</div>

				<div class="form-control-wrapper pull-right endTime">
					<label for="endTime" class="sr-only">to</label>
					<!-- <input type="text" id="form-control-endTime" class="form-control" ng-model="endTime" name="endTime"> -->
          <div class="input-group clockpicker">
              <input id="endTime" type="text" onfocus="this.blur()" class="form-control" >
          </div>
				</div>
				</div>
				<div style="clear: left"></div>
          <center>
          <button type="submit" id="buttonPicker"class="btn btn-default" ng-click="addTimeslotToRequest(); checkRequest()">
            <i class="fa fa-plus"></i>
          </button>
        </center>
			</form>
				<ul class="list-group no-margin-bottom">
					<li class="list-group-item round-list" ng-repeat="timeslot in config.model.requests[0].timeslots">
						<h3 class="no-margin-bottom">
              <small>
							{{timeslot.startTime | date : 'HH:mm'}} - {{timeslot.endTime | date : 'HH:mm'}}
              </small>
							<a class="pull-right" ng-click="config.remTimeslot(timeslot.startTime, timeslot.endTime); checkRequest()">
                <small>
                  <i class="fa fa-minus-circle fa-3 button-red"></i>
                </small>
              </a>							
						</h3>
					</li>
				</ul>
  </div>
</div>
</div>
	
	<!-- Location -->
  <div class="panel" ng-init="setInitLocation()">
  <div class="panel-heading">
    <h2 class="panel-title no-margin-bottom">
      <span ng-click="showMap()">
			  <i ng-show="showLocation" class="fa fa-chevron-circle-down button-grey"></i>
        <i ng-show="!showLocation" class="fa fa-chevron-circle-right button-grey"></i>
				Where? 
      </span>
      <a class="btn pull-right no-margin-bottom no-padding-top" href="#/location">
    	<span ng-show="!isLocationCustom">Current location</span>
			<span ng-show="isLocationCustom">Custom...</span>
      <i class="fa fa-map-marker button-red" style="font-size:22px"></i>
      </a>
    </h2>
  </div>
  <div class="panel-body" ng-show="showLocation">
		<a href="#/location">
			<img src="https://maps.googleapis.com/maps/api/staticmap?center={{config.model.requests[0].currentPosition.latitude}},{{config.model.requests[0].currentPosition.longitude}}&zoom=13&size=600x300&maptype=roadmap&markers=color:red%7Clabel:%7C{{config.model.requests[0].currentPosition.latitude}},{{config.model.requests[0].currentPosition.longitude}}" draggable="false" style="border: 1px solid black;display: block;margin-left: auto;margin-right: auto"></img>
		</a>
  </div>
  </div>
	
  <!-- Invitees -->
  <div class="panel div-has-navbar-bottom-large">
  <div class="panel-heading">
    <h2 class="panel-title no-margin-bottom">
      <span ng-click="showList()">
				<i ng-show="showInvitees" class="fa fa-chevron-circle-down button-grey"></i>
        <i ng-show="!showInvitees" class="fa fa-chevron-circle-right button-grey"></i>
				Who? 
        <span>({{config.model.requests[0].invitees.length}})</span>
      </span>
      <a class="btn pull-right no-margin-bottom no-padding-top" href="#/selectInvitees">
    	Add contacts
    	<i class="fa fa-plus-circle fa-3 button-green" style="font-size:16px"></i>
      </a>
    </h2>
  </div>
  <div class="panel-body" ng-show="showInvitees">
  <ul class="list-group no-margin-bottom">
    <li ng-repeat="invitee in contacts | orderBy:'name' | filter:config.isInvitee" class="list-group-item round-list">
      <h3 class="no-margin-bottom">
        <small>
          {{invitee.name}}
        </small>
        <a class="pull-right" ng-click="config.toggleInvitee(invitee)">
          <small>
            <i class="fa fa-minus-circle fa-3 button-red"></i>
          </small>
        </a>
      </h3>
    </li>
  </ul>
  </div>
  </div>
	
</div>
</div>
</div>

<!-- Navbar bottom send button -->
<div id="findmatches" class="navbar navbar-app navbar-absolute-bottom">
  	<button class="btn btn-default justified" ng-click="sendRequest()"><b>Send Request!</b></button>
</div>
