<div content-for="rightNav">
	<a class="btn btn-navbar" ng-click="findMatches(0)">
	<i class="fa fa-check fa-3"></i>  SEND</a>
</div>

<div class="scrollable" id="quicklunch">
<div class="scrollable-content">
<div style="margin-top:30px">
  <div class="panel">
  <div class="panel-heading">
    <h2 style="margin-bottom:0px;" class="panel-title">
      <span ng-click="showTimeList()">
			  <i ng-show="showDates" class="fa fa-chevron-circle-down button-grey"></i>
        <i ng-show="!showDates" class="fa fa-chevron-circle-right button-grey"></i>
				When? 
      </span>
      <i class="fa fa-clock-o pull-right" style="padding-right:10px;"></i>
      <div class="pull-right" style="margin-top:-6px;margin-bottom:0px; padding-top: 0px; font-size:14px">
      	<form name="newTimeslotDate" class="ng-pristine ng-valid">
          <div class="form-control-wrapper date">
  					<label for="date" class="sr-only">Datum</label>
  					<input type="text" id="form-control-date" class="form-control" ng-model="date" name="date" placeholder="Datum" size="7">
          </div>
        </form>
      </div>
    </h2>
  </div>
 
	<div class="panel-body" ng-show="showDates">
			<form name="newTimeslotTime" style="margin-bottom: 10px;">
				<div>
				<div class="form-control-wrapper startTime pull-left" style="width: 45%; padding-top: 3px;">
					<label for="startTime" class="sr-only">von</label>
					<input type="text" id="form-control-startTime" class="form-control" ng-model="startTime" name="startTime" placeholder="von"> 
				</div>

				<div class="form-control-wrapper pull-right endTime" style="
    width: 45%;
    padding-top: 3px;
">
					<label for="endTime" class="sr-only">bis</label>
					<input type="text" id="form-control-endTime" class="form-control" ng-model="endTime" name="endTime" placeholder="bis" >
				</div>
				</div>
				<div style="clear: left;"></div>
          <center>
          <button type="submit" id="buttonPicker"class="btn btn-default" ng-click="addTimeslotToRequest(); checkRequest()">
            <i class="fa fa-plus"></i>
          </button>
        </center>
			</form>
				<ul class="list-group" style="margin-bottom:0px">
					<li class="list-group-item round-list" ng-repeat="timeslot in config.model.requests[0].timeslots">
						<h3 style="margin-bottom:0px">
              <small>
							{{timeslot.startTime | date : 'HH:mm'}} - {{timeslot.endTime | date : 'HH:mm'}}
              </small>
							<a class="pull-right" ng-click="config.remTimeslot(timeslot.startTime, timeslot.endTime); checkRequest()">
                <small>
                  <i class="fa fa-minus-circle fa-3 button-red"></i>
                </small>
              </a>							
						</h3>
					</li>
				</ul>
  </div>
</div>
</div>
	
	<!-- Location -->
  <div class="panel" ng-init="setInitLocation()">
  <div class="panel-heading">
    <h2 style="margin-bottom:0px;" class="panel-title">
      <span ng-click="showMap()">
			  <i ng-show="showLocation" class="fa fa-chevron-circle-down button-grey"></i>
        <i ng-show="!showLocation" class="fa fa-chevron-circle-right button-grey"></i>
				Where? 
      </span>
      <a class="btn pull-right" style="margin-bottom:0px; padding-top: 0px;" href="#/location">
    	<span ng-show="!isLocationCustom">Current location</span>
			<span ng-show="isLocationCustom">Custom...</span>
			<img src="https://maps.google.com/mapfiles/marker.png" draggable="false" style="width:15px"></img>
      </a>
    </h2>
  </div>
  <div class="panel-body" ng-show="showLocation">
		<a href="#/location">
			<img src="https://maps.googleapis.com/maps/api/staticmap?center={{config.model.requests[0].currentPosition.latitude}},{{config.model.requests[0].currentPosition.longitude}}&zoom=13&size=600x300&maptype=roadmap&markers=color:red%7Clabel:%7C{{config.model.requests[0].currentPosition.latitude}},{{config.model.requests[0].currentPosition.longitude}}" draggable="false" style="border: 1px solid black"></img>
		</a>
  </div>
  </div>
	
  <!-- Invitees -->
  <div class="panel div-has-navbar-bottom-large">
  <div class="panel-heading">
    <h2 style="margin-bottom:0px;" class="panel-title">
      <span ng-click="showList()">
				<i ng-show="showInvitees" class="fa fa-chevron-circle-down button-grey"></i>
        <i ng-show="!showInvitees" class="fa fa-chevron-circle-right button-grey"></i>
				Who? 
        <span>({{config.model.requests[0].invitees.length}})</span>
      </span>
      <a class="btn pull-right" style="margin-bottom:0px; padding-top: 0px;" href="#/selectInvitees">
    	Add contacts
    	<i class="fa fa-plus-circle fa-3 button-green"></i>
      </a>
    </h2>
  </div>
  <div class="panel-body" ng-show="showInvitees">
  <ul class="list-group" style="margin-bottom:0px">
    <li ng-repeat="invitee in contacts | filter:config.isInvitee" class="list-group-item round-list">
      <h3 style="margin-bottom:0px;">
        <small>
          {{invitee.name}}
        </small>
        <a class="pull-right" ng-click="config.toggleInvitee(invitee)">
          <small>
            <i class="fa fa-minus-circle fa-3 button-red"></i>
          </small>
        </a>
      </h3>
    </li>
  </ul>
  </div>
  </div>
	
  <!-- Overlay for response -->
  <div overlay="responseOverlay">
    <h4 class="overlay-title">Response</h4>
    <br> 
    <!-- TODO: ng repeat not working
    <div ng-repeat="name in response.names">repeat</div>
    -->

    <div>Who? {{config.model.requests[1].response.subjects[0]}}</div>
    <p>When? {{config.model.requests[1].response.timeslot.startTime}}</p>

    <p toggle="off" bubble target="responseOverlay">
      <span class="btn btn-default">Thanks!</span>
    </p>  
  </div>
</div>
</div>
</div>
<div id="findmatches" class="navbar navbar-app navbar-absolute-bottom">
  	<button class="btn btn-default justified" ng-click="findMatches(0)"><b>Send Request!</b></button>
</div>
