<div class="scrollable">
<div class="scrollable-content">
	<div class="section container-fluid">

      <!--<ul class="nav nav-tabs">
          <li><a href="#Recent" toggle="on" parent-active-class="active">Recent</a></li>
          <li><a href="#All" toggle="on" parent-active-class="active">All</a></li>
          <li><a href="#Groups" toggle="on" parent-active-class="active">Groups</a></li>
      </ul>-->

    <a class="btn btn-navbar" onclick="window.history.back()" style="
    position: fixed;
    top: 8px;
    z-index: 1030;
    right: 8px;"><i class="fa fa-arrow-left fa-3"></i>  BACK</a>
    

      <input type="search" ng-model="contactSearch" class="form-control app-search" placeholder="Search.." />

      <div class="navbar navbar-app navbar-absolute-bottom">
	      <div class="btn-group justified nav-tabs">
	        <a class="btn btn-default" href="#Recent" toggle="on" active-class="active"  style="border-radius: 0;">Recent</a>
	        
	        <a class="btn btn-default" href="#All" toggle="on" active-class="active"  style="border-radius: 0;">All</a>
	        
	        <a class="btn btn-default" href="#Groups" toggle="on" active-class="active"  style="border-radius: 0;">Groups</a>
	      </div>
	  </div>

      <div class="tab-content" style="margin-top: 10px; margin-bottom: ">
        <div class="tab-pane" 
            toggleable 
            active-class="active"
            default="active" 
            id="Recent"
            exclusion-group="myTabs">
            TODO
         <!--<ul class="list-group">
              <li ng-repeat="contact in config.model.contacts | filter:contactSearch" class="list-group-item">
                <h3 style="margin-bottom:0px;">
                  <small>{{contact.name}} - <small>{{contact.phoneNumbers[0]}}</small></small>
                </h3>
                  <switch ng-model="contact.invited" ng-click="config.toggleInvitee(contact)" style="position: absolute; right: 0; top: 6px;"></switch>                
              </li>
          </ul>  -->     

        </div>

        <div class="tab-pane" 
            toggleable 
            active-class="active" 
            id="All" 
            exclusion-group="myTabs">

          	<ul class="list-group">
              <li ng-repeat="contact in config.model.contacts | filter:contactSearch" class="list-group-item">
                <h3 style="margin-bottom:0px;">
                  <small>{{contact.name}} - <small>{{contact.phoneNumbers[0]}}</small></small>
                </h3>
                  <switch ng-model="contact.invited" ng-click="config.toggleInvitee(contact)" style="position: absolute; right: 0; top: 6px;"></switch>                
              </li>
          </ul>
      <!--		
          <ul>
            <li ng-click="toggleContact(contacts[0])">{{contacts[0].name}} <i ng-show="isInvitee(contacts[0])" class="fa fa-check fa-2"></i></li>
            <li ng-click="toggleContact(contacts[1])">{{contacts[1].name}} <i ng-show="isInvitee(contacts[1])" class="fa fa-check fa-2"></i></li>
          </ul>
        -->
        </div>

        <div class="tab-pane" 
            toggleable 
            active-class="active" 
            id="Groups"
            exclusion-group="myTabs">

            <div ng-repeat="group in config.model.groups" style="position:relative;">
              <h2><small>{{group.name}}</small></h2>
                <switch ng-model="group.invited" ng-click="config.toggleInviteeGroup(group)" style="position: absolute; right: 0; top: 5px; z-index:100;"></switch> 
                <ul class="list-group">
                  <li ng-repeat="contact in group.contacts | filter:contactSearch" class="list-group-item">
                    <h3 style="margin-bottom:0px;">
                      <small>{{contact.name}} - <small>{{contact.phoneNumbers[0]}}</small></small>
                    </h3>
                                     
                  </li>
                </ul>
            </div>

        </div>
      </div>


		<!--
    <p toggle="off" bubble target="selectInvitees">
      <span class="btn btn-primary">Ok</span>
      <span class="btn btn-default">Cancel</span>
    </p> 
		-->
	</div>
</div>
</div>