<div class="scrollable" id="location" ng-init="location.init()">
<div class="scrollable-content">

	<input id="pac-input" class="controls" type="text" placeholder="Enter location">
	<div class="cancel">
		<img src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png" draggable="false"></img>
	</div>
	<img src="https://maps.gstatic.com/mapfiles/transparent.png" draggable="false" ng-click="onCancel()">
  <div id="map-canvas"></div>
	
	<div class="navbar navbar-app navbar-absolute-bottom">
  	<button id="location-add" class="btn btn-default justified" ng-click="setNewPosition()">Select</button>
  </div>

</div>
</div>
