<div content-for="title">
    <span>Select invitees</span>
</div>

<!-- Input field for contact/group search by name -->
<input type="search" ng-model="contactSearch" class="form-control app-search" placeholder="Search.." />

<div class="scrollable">
<div class="scrollable-content">
	<div class="section container-fluid" style="padding-top: 0px;">

    <!-- Upper right button. Navigates back to previous page. -->
    <div content-for="rightNav">
      <a class="btn btn-navbar" onclick="window.history.back()">
        <i class="fa fa-check fa-3"></i>  DONE</a>
    </div>

    <!-- Content of tabs; Popular / All / Groups -->
    <div class="tab-content div-has-navbar-bottom">
      <!-- Content of popular -->
      <div class="tab-pane" toggleable active-class="active" default="active" id="Popular" exclusion-group="myTabs">
        <ul class="list-group">
          <!-- list of all popular contacts -->
          <li ng-repeat="contact in popularContacts | filter:contactSearch" class="list-group-item">
            <h3 style="margin-bottom:0px;">
              <small>{{contact.name}} - <small>{{contact.phoneNumbers[0]}}</small></small>
            </h3>
            <!-- Switch button to invite contacts / delete invitation of contacts -->
            <div ng-switch on="config.isInvitee(contact)"> 

              <div ng-switch-when="false">
                <div  class="switch ng-isolate-scope switch-transition-enabled ng-click-active"
                      ng-click="config.toggleInvitee(contact)"
                      style="position: absolute; right: 0; top: 6px;">
                <div class="switch-handle"></div></div>
              </div>

              <div ng-switch-when="true">
                <div  class="switch active ng-isolate-scope switch-transition-enabled ng-click-active"
                      ng-click="config.toggleInvitee(contact)" 
                      style="position: absolute; right: 0; top: 6px;">
                <div class="switch-handle"></div></div>
              </div>

            </div>               
          </li>
        </ul> 
      </div>

      <!-- Content for  tab: All -->
      <div class="tab-pane" default={{allContactsDefault()}} toggleable active-class="active" id="All" exclusion-group="myTabs">

      	<ul class="list-group">
          <!-- Element with switch to invite all contacts -->
          <li class="list-group-item">
            <h3 style="margin-bottom:0px;">
              <small><b>All</b></small>
            </h3>
            <!-- Switch button to invite all contacts / delete invitation of all contacts -->
            <div ng-switch on="config.isEvrbdyInvited()"> 

              <div ng-switch-when="false">
                <div  class="switch ng-isolate-scope switch-transition-enabled ng-click-active"
                      ng-click="config.toggleAll()"
                      style="position: absolute; right: 0; top: 6px;">
                <div class="switch-handle"></div></div>
              </div>

              <div ng-switch-when="true">
                <div  class="switch active ng-isolate-scope switch-transition-enabled ng-click-active"
                      ng-click="config.toggleAll()" 
                      style="position: absolute; right: 0; top: 6px;">
                <div class="switch-handle"></div></div>
              </div>

            </div>               
          </li>
          <!-- List of all contacts -->
          <li ng-repeat="contact in config.model.contacts | orderBy:'name' | filter:contactSearch" class="list-group-item">
            <h3 style="margin-bottom:0px;">
              <small>{{contact.name}} - <small>{{contact.phoneNumbers[0]}}</small></small>
            </h3>
            <!-- Switch button to invite contacts / delete invitation of contacts -->
            <div ng-switch on="config.isInvitee(contact)"> 

              <div ng-switch-when="false">
                <div  class="switch ng-isolate-scope switch-transition-enabled ng-click-active"
                      ng-click="config.toggleInvitee(contact)"
                      style="position: absolute; right: 0; top: 6px;">
                <div class="switch-handle"></div></div>
              </div>

              <div ng-switch-when="true">
                <div  class="switch active ng-isolate-scope switch-transition-enabled ng-click-active"
                      ng-click="config.toggleInvitee(contact)" 
                      style="position: absolute; right: 0; top: 6px;">
                <div class="switch-handle"></div></div>
              </div>

           </div>               
          </li>
        </ul>
      </div>

      <!-- Content for tab: Groups -->
      <div class="tab-pane" toggleable active-class="active" id="Groups" exclusion-group="myTabs">
        <!-- Show notification if no groups are configured -->
        <h3 ng-show="config.model.groups.length < 1">
          <small>
            No groups defined. Press
            <a class="btn btn-navbar" href="#/addGroup">
              <i class="fa fa-plus fa-3"></i>  CREATE</a>
          </small>
        </h3>
        <!-- List of all configured groups, groups can be expanded to show their contacts -->
        <ul class="list-group">
          <li ng-repeat="group in config.model.groups | orderBy:'name' | filter:contactSearch" style="position:relative;" class="list-group-item">
            <h2 ng-click="config.expandGroup(group)" style="margin-bottom: 4px;">
              <small>
                {{group.name}}
              </small>
              <i class="fa fa-chevron-circle-down pull-left button-grey" ng-show="group.show"></i>
              <i class="fa fa-chevron-circle-right pull-left button-grey" ng-show="!group.show"></i>
            </h2>
            <!-- Switch button to invite groups / delete invitation of groups -->
            <div ng-switch on="config.isGroupInvited(group)"> 

              <div ng-switch-when="false">
                <div  class="switch ng-isolate-scope switch-transition-enabled ng-click-active"
                      ng-click="config.toggleInviteeGroup(group)"
                      style="position: absolute; right: 0; top: 6px;">
                <div class="switch-handle"></div></div>
              </div>

              <div ng-switch-when="true">
                <div  class="switch active ng-isolate-scope switch-transition-enabled ng-click-active"
                      ng-click="config.toggleInviteeGroup(group)" 
                      style="position: absolute; right: 0; top: 6px;">
                <div class="switch-handle"></div></div>
              </div>

            </div> 
            <!-- list of all contacts for each group -->
            <ul class="list-group" style="margin-bottom: -11px;">
              <li ng-repeat="id in group.members | orderBy:'name' |filter:contactSearch" ng-show="group.show" class="list-group-item">
                <h3 style="margin-bottom:0px;">
                  <small>
                    {{config.getContactById(id).name}} - <small>{{config.getContactById(id).phoneNumbers[0]}}</small>
                  </small>
                </h3>    
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

	</div>
</div>
</div>

<!-- Bottom navbar wit buttons: Popular / All / Groups -->
<div class="navbar navbar-app navbar-absolute-bottom">
  <div class="btn-group justified nav-tabs">
    <a class="btn btn-default" href="#Popular" toggle="on" active-class="active"  style="border-radius: 0;">Popular</a>
    
    <a class="btn btn-default" href="#All" toggle="on" active-class="active"  style="border-radius: 0;">All</a>
    <!-- Check if group is invited on each click on the groups button -->
    <a class="btn btn-default" href="#Groups" ng-click="config.checkGroups()" toggle="on" active-class="active"  style="border-radius: 0;">Groups</a>
  </div>
</div>